.robot_limbs_and_ears{
	fill:#1065a0;
}

.robot_joints_and_belly{
	fill:#cae9ff;
}

.error_code{
	fill:#96d4ff;
	font-size:322px;
}

.robot_body{
	fill:#44a3e4;
}

.robot_eye_whites{
	fill:#C1EEFD;
}

.robot_hands_feet{
	fill:#1e91e0;
}

.robot_antenna{
	fill:#007ECD;
}

.robot_antenna_highlight{
	fill:#afddec;
}

.robot_eyes{
	fill:#007ECD;
}

.robot_eyes_highlight{
	fill:#70d0ff;
}